{% extends 'clubs/SocialClubs.html' %}
{% load static %}

{% block content2 %}
    <div class="container-fluid h-100 pb-2" style="background-color: #597eaa;border-radius: 1%;
    border: 2px solid black;min-height: 150px; max-height: 305px;overflow: auto">
        <div class="album">
        {% if request.user.student == club.club.administration.president or request.user.student == club.club.administration.vicePresident or request.user.student == club.club.administration.secretary%}
                <a class="btn btn-add w-50 fa fa-plus" style="height: 40px" href="{% url 'addPost' club.club.id %}">   Add</a>
            {% endif %}
            <div class="container">
              <div class="row pt-3">

                {% for post in posts %}
                    <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <a href="#">{% if post.post_pic %}
                         <img src=" {% static post.post_pic.url %}"
                                         class=" img-responsive" alt="post_img"
                                         style="height: 225px; width: 100%; display: block;">
                         {% endif %}</a>
                        <div class="card-body">
                          <p class="card-text" style="font-size: 1em">{{ post.content }}</p>
                          <p class="card-text" style="font-size: 0.5em">{{ post.start_date }}</p>
                        </div>
                      </div>
                    </div>
                {% endfor %}

              </div>
            </div>
        </div>
    </div>
{% endblock %}