{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid " style="padding-top: 50px;padding-right: 10%; padding-left: 10%">
        <div class="row">
            <!-- User Info -->
            <div class="col-md-3 pt-3 pb-3 "  style="height: 625px">
                <div class="card px-3 pt-3 pb-3 h-100 border-black">
                    <div style="height: 50%; margin: 0 auto" class="w-100">
                        <form method="POST" action="" enctype="multipart/form-data" style="width: 100%">
                            {% csrf_token %}
                            {% for i in form %}
                                {% if request.user.student.profile_pic %}

                                    <img src=" {% static request.user.student.profile_pic.url %}"
                                         class="  img-fluid "
                                         alt="Student Photo" style=" height: 200px;width: 200px; border: 2px solid gray;
                                            margin-right: auto; margin-left: auto; display: block; border-radius: 100%">

                                {% endif %}

                                <div class="pt-2" style="margin: 0 auto">
                                    {{ i }}
                                </div>

                                <div class="pt-2" style="margin: 0 auto; width: 50%">
                                    <input class="btn btn-primary "  type="submit"
                                       name="Update Information" value="Change">
                                </div>
                            {% endfor %}
                        </form>
                    </div>

                    <div style="margin:auto" class="w-100">
                        <h4 class="card-header text-center">{{ request.user.student.first_name }} {{ request.user.student.last_name }}</h4>
                        <div class="card-text ">
                            <ul style="font-size: 100%; line-height: 100% ; margin: 10% 1%">
                                <li style="font-size: 1em">{{ request.user.student.department }}</li>
                                <li style="font-size: 1em">{{ request.user.student.email }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-footer">
                        <a href="{% url 'password_change' %}" class="btn btn-success" style=" border: 2px solid black">Change
                            Password Link</a>
                    </div>
                </div>
            </div>


            <!-- user page -->
            <div class="col-md-5 h-100 px-3 pt-3 pb-3 mb-3">


                <div class="album pt-3 border-black" style="height: 600px;overflow: auto; background-color: #597eaa;">
                    <div class="container">
                        <div class="row">
                            {% for post in posts %}

                                {% for p in post %}
                                    <div class="col-md-6">
                                        <div class="card mb-4 box-shadow">
                                            <a href="#">
                                                {% if p.post_pic %}
                                                    <img src=" {% static p.post_pic.url %}"
                                                         class="card-img-top img-responsive" alt="post_img"
                                                         style="height: 225px; width: 100%; display: block;">
                                                {% endif %}
                                            </a>
                                            <div class="card-body">
                                                <p class="card-text" style="font-size: 1em"><strong>{{ p.club }}</strong></p>
                                                <p class="card-text" style="font-size: 1em">{{ p.content }}</p>
                                                <p class="card-text" style="font-size: 0.5em">{{ p.start_date }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


            <!-- Events -->
            <div class="col-md-4  h-100 pt-3 pb-3 px-3 ">
                <div class="card border-black" style="min-height: 50px; max-height: 300px;overflow: auto;">
                    <div class="card-header text-center mb-1" style="background-color: #597eaa">
                        <h5>My Clubs' Events</h5>
                    </div>

                    <div class="card-body h-75" style="overflow: auto">
                        {% for event in events %}
                            <a class="card link-card mt-2 my-club-events" href="{% url 'eventPage' event.event.id %}">
                                <div class="card-body">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <ul class="no-bullets">
                                            <li class="px-5"><h5>{{ event.event.event_name }}</h5></li>
                                            <li class="fa fa-user">{{ event.event.club }}</li>
                                            <li class="fa fa-calendar w-100"> {{ event.event.start_date }}</li>
                                            <li class="fa fa-map-marker w-100"> {{ event.event.location }}</li>
                                        </ul>
                                    </div>

                                </div>
                            </a>

                        {% endfor %}


                    </div>


                </div>
                <!-- calendar -->
                <div class="mt-3 border-black" style="height: 275px; overflow: auto;">
                    {% include 'clubs/calendar.html' %}
                </div>


            </div>
        </div>
    </div>
{% endblock %}