.w-15{
    width: 15%;
}

.w-20{
    width: 20%;
}

.w-45{
    width: 45%;
}
.w-55{
    width: 55%;
}
.w-80{
    width: 80%;
}

.w-85{
    width: 85%;
}

.h-15{
    height: 15%;
}

.h-10{
    height: 10%;
}

.h-30{
    height: 30%;
}

.h-60{
    height: 60%;
}


.h-80{
    height: 80%;
}

.h-85{
    height: 85%;
}



.home-links{
    border: 2px solid black;
    color: black;
    text-align: center;
}

.home-links:hover{
    opacity: 0.7;
}

.icon{
    width: 170px;
    height: 170px;
    padding: 15px;
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-club-events{
    background-color: #ddd;
    border: 2px solid gray;
    border-radius: 5px;
}

.my-club-events:hover{
    background-color: darkgray;
}

.club-info{
    margin-top: 15px;
    padding-left: 1%;
    font-size: 100%;!important;
}

.btn-club{
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5%;
}

.btn-user{
    height: 35px;
    border-radius: 10px;
    border: none;
    margin-right: 15px;
    font-size: 25px;
}

.btn-user:hover{
    background-color: black;
    color: white;
}

nav .nav-item:hover{
    background-color: black;
}

nav .nav-link-active{
    background-color: black;
}

.form-check{
    background-color: lightblue;
}

.form-check:hover{
    background-color: lightskyblue;
}

.btn-join{
    background-color: #597eaa;
    color: black;
}

.btn-join:hover{
    background-color: #cccccc;
}

.link-card{
    color: black;
}

.link-card:hover{
    color: white;
    background-color: #cccccc;
}

.events{
    width: 100%;
    height: 20%;
    background-color: lightgray;
}

.social-content{
    height: 50%;
    margin-top: 10px;
}



@media (max-width: 1520px) {
    .social-content{
        height: 280px;
    }

    .col-lg-3{
        flex: 0 0 auto;
        width: 40%;
        display: inline-block;
    }

    .col-lg-7{
        flex: 0 0 auto;
        width: 40%;
        display: inline-block;
        height: auto;
    }

    .col-lg-2{
        flex: 0 0 auto;
        width: 100%;
        display: inline-block;
    }

    .btn-club{
        width: 30%;
        display: inline-block;
    }
    #mainrow{
        overflow: visible;
        height: auto;
    }

    #maincontainer{
        height: auto;
    }

    .annauncement-div{
        width: 50%;
        display: inline-block;
    }
}

@media (max-width: 1150px){
    .social-content{
        height: 250px;
    }
}


.annauncement-div{
    width: 75%;
    display: inline-block;
    padding: 5px;
    color: black;
}

.annauncement-header{
    display: inline-block;
    width: 50%;
    height: 25%;
    color: #000;;
}

.annauncement-img{
    padding: 10px;
    height: 150px;
    width:150px;
    display: inline-block;
}

.annauncement-text{
    display: inline-block;
    width: 50%;
    font-size: 100%;!important;
    color: black;
}



.btn-club:hover{
    opacity: 0.6;
    background-color: black;
}

.bg-blue{
    background-image: url("../images/background_blue.png");
}

.bg-lightgray{
    background-color: darkgray;
}

.margin-l-16{
    margin-left: 16px;
}

.border-black{
        border: 2px solid black;
        border-radius: 5px;
    }

.upper-border-black{
    border-top: 2px solid black;
}

.lower-border-black{
    border-bottom: 2px solid black;
}

.black-font{
    color: black;
}

.navbar-font{
    font-size: large;
    color: lightgray;
}

.navbar-toggler-icon{
    content: "";
}



div .bar {
  margin: 10px 0px 10px 0px;
  padding-left: 0px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

div .bar li {
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: inherit;
}

div .bar li a {
  color: royalblue;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 36px;
  display: inline-block;
  font-size: 36px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

div .bar li a i {
    width: 100%;
    height: 100%;
}


div .bar li a:hover {
  color: black;
}




footer {
  background-color: blue;
  padding-top: 10px;

}

footer .block1{
    width: 50%;
    display: inline;
}

footer .block2{
    padding: 0;
    float: right;
    display: inline;
    width: 50%;

}

footer .social {
  margin-top: 30px;
  padding-top: 10px;
  overflow: hidden;
  text-align: right;
  float: right;
  width: 100%;
}

footer .social li {
  margin: 0px 5px;
  display: inline-block;
}



footer .social li a {
  background-color: #ccc;
  color: royalblue;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


footer .social li a:hover {
  background-color: lightblue;
  color: #fff;
}


footer .copyright{
  margin-left: 30px;
  text-align: left;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 60%;
  color: #fff;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  border-right: 1px solid lightgray;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
  overflow: hidden;
  font-size: 100%;
  border: 2px solid black;
}

@media (max-width: 768px) {
    main{
        height: auto;
    }

}

.btn-login{
    height: 35px;
    width: 60px;
    border-radius: 10px;
    border: none;
    margin-right: 15px;
    background: lightgray;
}

.btn-login:hover{
    border: 1px solid lightgray;
    background: cornflowerblue;
    color: white;
}


.clubs{
    width: 100%;
    height: 50px;
    background-color: #eee;
    border-bottom: 2px solid #cccccc;
}

.clubs:hover{
    background-color: darkgray;
}

.img-club{
    margin-top: 5px;
    height: 75%;
    display: inline-block;
}

.name-club{
    color: black;
    text-decoration: none;
    text-size: 50%!important;
    display: inline-block;
}


.club-div{
    display: inline-block;
}


.comment time, .comment:hover time,.icon-rocknroll, .like-count {
  -webkit-transition: .25s opacity linear;
  transition: .25s opacity linear;
}
.comments-main ul li{
  list-style: none;
}
.comments .comment {
  padding: 5px 10px;
  background: darkgray;
}
.comments .comment:hover time{
  opacity: 1;
}
.comments .user-img img {
  width: 50px;
  height: 50px;
}
.comments .comment h4 {
  display: inline-block;
  font-size: 16px;
}
.comments .comment h4 a {
  color: #404040;
  text-decoration: none;
}
.comments .comment .icon-rocknroll {
  color: #545454;
  font-size: .85rem;
}
.comments .comment .icon-rocknroll:hover {
  opacity: .5;
}
.comments .comment time,.comments .comment .like-count,.comments .comment .icon-rocknroll {
  font-size: .75rem;
  opacity: 0;
}
.comments .comment time, .comments .comment .like-count {
  font-weight: 300;
}
.comments .comment p {
  font-size: 13px;
}
.comments .comment p .reply {
  color: #BFBFA8;
  cursor: pointer;
}
.comments .comment .active {
  opacity: 1;
}
.icon-rocknroll {
  background: none;
  outline: none;
  cursor: pointer;
  margin: 0 .125rem 0 0;
}
.comments .comment:hover .icon-rocknroll,.comments .comment:hover .like-count {
  opacity: 1;
}
@media (min-width: 320px) and (max-width: 480px){
  .comments .comment h4 {
    font-size: 12px;
  }
  .comments .comment p{
    font-size: 11px;
  }
  .comment-box-main .send-btn button{
    margin-left: 5px;
  }
}

.btn-add{
    background-color: #93c47d;
    margin: 10px 25% 10px 25%; height: 15%;
    border-radius: 5%;
    border: 2px solid black;
    visibility: visible;
}

.btn-add:hover{
    background-color: lightgreen;
}